<html>
 <body>
   <h1>Form Page</h1>

   <form method=GET>
    <fieldset>
   <legend>TEST FORM GAYT SHIT</legend>
   <ul>
    <li>IN GAME NAME: <input name='ign'></li>
    <li>RAINMAKER RANK:  <input name='RM'></li>
   </ul>
   <input type='submit' value='Submit Form'>
   </fieldset>
   </form>

 </body>
</html>